:root{
    --primary: #fff3da;
    --secondary: #a1c8ff;
    --base: #333;
    --text: #fff;
    background-color: var(--primary);
}

.table-color{
    background-color: var(--primary) !important;
}

.secondaryColor{
    background-color:var(--secondary);
}



.fixedPosition{
    position: fixed !important;
}


#frontContainer {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%; /* Adjust the width of the container as needed */
      height: 30%; /* Adjust the height of the container as needed */
      
      text-align: center;
}

#dateiKarte{
    background-color: var(--secondary);
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    padding: 10px;
}

#startButton{
    position: fixed;
    bottom: 2%;
    right: 2%;
    transform: translate(-10%, -10%);
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-color: rgb(0, 0, 0);
    --bs-btn-hover-bg: rgb(153, 212, 252);
    --bs-btn-hover-border-color: var(--secondary);
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--secondary);
    --bs-btn-active-border-color:var(--secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--secondary);
    --bs-btn-disabled-border-color:var(--secondary);
}