*{
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

:root{
    --size: 500px;
}

#game {
    position: relative;
    width: var(--size) !important;
    height: var(--size) !important;
}

#gameSurface{
    position:relative;   
    width: var(--size);
    height: var(--size);
}

#start{
    width: 100px;
    height: 50px;
    position: relative;
    background-color: black;
    color: white;
}

#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: red;
    z-index: 1;
}


